@charset "UTF-8";

.busho-img {
  width:200px;
  height:200px;
  border-radius:50%;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}
th {
    background-color: #ccc;
}
th, td {
    border: 1px solid #666;
    padding: 5px;
}
.image, .name, .era, .birth {
    width: 200px;
}

.change, .delete {
    width: 50px;
}

thead, tbody {
    display: block;
}
tbody {
    overflow-y: scroll;
    height: 400px;
}

.d5{
	
	/*border-style: solid;*/
	margin-top:125px;
	position: relative;
	margin-left: auto;
    margin-right: auto;
    width: 60em;
}
