@charset "UTF-8";

.bushoList-contents{
	padding:20px 0px 20px 0px;
	width:100%;
	overflow-y: scroll;
	margin: 0 auto;
	height:77vh;
	background:black;
}
.busho-box{
	margin:10px;
	width:90%;
	margin: 0 auto;
	border:1px solid black;
	background:white;
}
.busho-header-contents{
	padding:15px;
	display:flex;
	justify-content:space-between;
	align-items:center;
}

.busho-header-list{
	display:flex;
	justify-content:center;
	align-items:center;
}

.busho-header-list span{
	margin-left:20px;
}
.busho-button-list{
	display:flex;
	justify-content:center;
	align-items:center;
}

.busho-header-list img{
	height:100px;
	width:100px;
	border-radius:50%;
}

.busho-name{
	font-size:50px;
}
.busho-period{
	font-size:20px;
}

.busho-birthDate{
	font-size:20px;
}

.busho-footer-contents{
	padding:15px;
	border-top:2px dashed black;
}

.selectbox-003 {
    display: inline-flex;
    align-items: center;
    position: relative;
}

.selectbox-003::after {
    position: absolute;
    right: 15px;
    width: 10px;
    height:10px;
    background-color: #535353;
    clip-path: polygon(0 0, 100% 0, 50% 100%);
    content: '';
    pointer-events: none;
    align-items:center;
}

.selectbox-003 select {
    appearance: none;
    min-width: 100px;
    padding: .4em calc(.8em + 30px) .4em .8em;
    border: 1px solid #cccccc;
    border-radius: 3px;
    background-color: #fff;
    color: #333333;
    font-size: 1em;
    cursor: pointer;
}

.bushoListFromHead{
	display:flex;
	justify-content:space-between;
	align-items:center;
}

.busholistheadtext{
	font-size:50px;
	text-align:center;
	
}

.bushoflex{
	width:33.333%;
}

.bushoHeadAdd form{
	margin: 0 0 0 auto;
	text-align:right;
	padding-right:10px;
}


