@charset "UTF-8";

.busho-img {
  width:100px;
  height:100px;
  border-radius:50%;
  margin: 0 auto;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}
th {
    background-color: #ccc;
}
th, td {
    border: 1px solid #666;
    padding: 5px;
    text-align: center;
}
.image {
    width: 100px;
    
}

.name, .era, .birth, .profile {
    width: 100px;
    
}

.change, .delete {
    width: 100px;
}

thead, tbody {
    display: block;
}
tbody {
    overflow-y: scroll;
    height: 400px;
}

.busholist{
	
	/*border-style: solid;*/
	margin-top:125px;
	position: relative;
    margin-left: 450px;
    margin-right: auto; 
	
}




.selectbox-003 {
    display: inline-flex;
    align-items: center;
    position: relative;
}

.selectbox-003::after {
    position: absolute;
    right: 15px;
    width: 10px;
    height:10px;
    background-color: #535353;
    clip-path: polygon(0 0, 100% 0, 50% 100%);
    content: '';
    pointer-events: none;
}

.selectbox-003 select {
    appearance: none;
    min-width: 100px;
    height: 50px;
    padding: .4em calc(.8em + 30px) .4em .8em;
    border: 1px solid #cccccc;
    border-radius: 3px;
    background-color: #fff;
    color: #333333;
    font-size: 1em;
    cursor: pointer;
}



