@charset "UTF-8";

.customerTable{
	margin:0 auto;
	width:80%;
	text-align:center;
	
	display: block;
    overflow-y: scroll;
    height: 70vh;
    border:1px solid;
    border-collapse: collapse;
}

.customerImage img{
	display:inline;
	height:70px;
	width:70px;
	border-radius:50%;
	margin: 0 auto;
}
.customerTr th{
    position: sticky;
    top: 0;
    z-index: 1;
    background: #CCCCFF;
    border-top:#FFFFFF;
}
.customerTr td{
	width:15%;
	padding:5px;
}

table, td, th { border: 2px #808080 solid; }