@charset "UTF-8";

.icon{
	border-radius: 50%;
	box-shadow: 6px 6px 10px 0px rgba(0, 0, 0, 0.4);
}


.profile_contents{
	
	width:70%;
	display:flex;
	justify-content:left;
	position: relative; /* 今の位置を基準 */
	margin: 0 auto;
	box-shadow: 6px 6px 10px 0px rgba(0, 0, 0, 0.4);
}

.profile-icon-box{
	width:40%;
	background:#FFCCCC;
	
	display: flex;
 	justify-content: center;
 	align-items: center;
}

.profile-box{
	width:100%;
	line-height:30px;
	margin-left:10px;
	padding:10px 0px 10px 0px;
	
}
.nickname{
	font-size: 30px;
	margin:10px 0px 10px 0px;
}
.ff{
	display:flex;
}
.follow{
	font-weight: bold;
	
}
.follower{
	font-weight: bold;
	margin-left: 20px;
}
.profile-change{
	margin-top: 30px;
}
