@charset "UTF-8";
.icon{
	border-radius: 50%;
	margin:0 auto;
}
.profile_contents{
	
	width:90%;
	margin:0 auto;
	display:flex;
	align-items:center;
	justify-content:center;
	position: relative; /* 今の位置を基準 */
	top: 10px; /* 上から10px */
	left: 150px; /* 左から20px */
}

.profile-icon-box{
	width:30%;
}

.profile-box{
	margin-top: 50px;
	font-size:large;
	width:50%;
	line-height:30px;
}
.nickname{
	font-size: 30px;
	margin:10px 0px 10px 0px;
}
.ff{
	display:flex;
}
.follow{
	font-weight: bold;
	
}
.follower{
	font-weight: bold;
	margin-left: 20px;
}
.profile-change{
	margin-top: 30px;
}
