@charset "UTF-8";
.icon{
	border-radius: 50%;
	margin:0 auto;
}
.profile_contents{

	width:90%;
	margin:0 auto;
	display:flex;
	align-items:center;
	justify-content:center;
}

.profile-icon-box{
	width:40%;
}

.profile-box{
	font-size:large;
	width:40%;
}